.wrapper {
    display: flex;
    flex-direction:column;
    flex: 1 1 auto;
    height: 100vh;
}

.outer-login-form-wrapper {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    height:100%;
}

.inner-login-form-wrapper {
    width:100%;
    max-width:540px;
    padding:0px 30px 0px 30px;
}

.icon-div {
    padding:40px 0px 0px 60px;
}
