window.__APP_CONFIG__ = {
    API_URL: "${VITE_APP_API_URL}",
    ENABLE_API_MOCKING: "${VITE_APP_ENABLE_API_MOCKING}",
    APP_URL: "${VITE_APP_APP_URL}",
    APP_MOCK_API_PORT: "${VITE_APP_APP_MOCK_API_PORT}",
    SENTRY_DSN: "${VITE_APP_SENTRY_DSN}",
    SENTRY_ENVIRONMENT: "${VITE_APP_SENTRY_ENVIRONMENT}",
    SENTRY_TRACES_SAMPLE_RATE: "${VITE_APP_SENTRY_TRACES_SAMPLE_RATE}",
    SENTRY_ERRORS_SAMPLE_RATE: "${VITE_APP_SENTRY_ERRORS_SAMPLE_RATE}",
    YANDEX_METRIKA_ID: "${VITE_APP_YANDEX_METRIKA_ID}",
};
