.top-bar {
    display:flex;
    flex-direction:row;
    align-items: center;
    gap:32px;
}

.create-user-button  {
    background-color:#1F4BC0;
    color:white;
    border-radius:10px;
    padding:14px 22px 14px 22px;
    border:none;
    font-size:19px;
}

.content-wrapper {
    padding:29px 44px 29px 44px;
    display:flex;
    flex-direction:column;
    gap:26px;
}