.login-form-create {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    padding: 40px 35px 40px 35px;
}

.exit-button {
    display: flex;
    flex-direction: column;
    width: 100%;
=======
    display:flex;
    flex-direction:column;
    gap:20px;
    border:none;
    width:100%;
    max-width:700px;
    justify-content:center;
    padding:40px 35px 40px 35px;
}

.exit-button {
    display:flex;
    flex-direction:column;
    width:100%;   
>>>>>>> f4f2c8820cab31cbbf6f704f7e3cf3519b1e31eb
}

.link-underline {
    text-decoration: none;
<<<<<<< HEAD
}
=======
}
>>>>>>> f4f2c8820cab31cbbf6f704f7e3cf3519b1e31eb
