.login-form {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: #d1d1d1;
    padding: 40px 35px 40px 35px;
}
=======
    display:flex;
    flex-direction:column;
    gap:15px;
    border:solid;
    border-width:1px;
    border-radius:30px;
    border-color:#D1D1D1;
    padding:40px 35px 40px 35px;
}
>>>>>>> f4f2c8820cab31cbbf6f704f7e3cf3519b1e31eb
